/*body{
    background-image: url("home-white-background.jpg") ;
    background-repeat: no-repeat;
    
}*/

body header div{
    background-image:"" ;

}

.header-image{
    
    
    height :auto;

}

/*Background image for HEADER*/
.nav-container{
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
   
}
.navigation-option{
    font-family: 'Big Shoulders Stencil Text', cursive;
    font-size: 35px;
    background-color: #067a7a;
    border: 25px darkblue;
    color:white;
    padding: 10px 15px;
    margin : 15px;
    
    
}


